# tmp files
*.un~
.DS_Store
.vscode/
#.deps/
#.dirstamp
#.libs/
#*.la
#*.lo
#aclocal.m4
#autom4te.cache/
#compile
#config.guess
#config.log
#config.status
#config.sub
#configure
#configure~
#depcomp
#install-sh
#libtool
#ltmain.sh
#m4/
#makefile
#makefile.in
#missing
#src/Vertica.cpp
#testunit.txt
#testperf.txt
#testperf_sql.txt

